<div class="left-content">
	<div class="left-content-position">
		<img class="LogoS" src="assets/images/Logo/LogoS.png" alt="LogoS">
		<div class="button-section1">
			<img class="img-panel" src="assets/images/Icons/home icon.png" alt="home icon">
			<br>
			<a class="a-panel" [routerLink]="['/dashboard']">Панель управління</a>
		</div>
		<div class="button-section2">
			<img class="img-goods" src="assets/images/Icons/cart icon.png" alt="cart icon">
			<br>
			<a class="a-goods" [routerLink]="['/dashboard/products']">Товар</a>
		</div>
		<div class="button-section3">
			<img class="img-orders" src="assets/images/Icons/card icon.png" alt="card icon">
			<br>
			<a class="a-orders" href="">Закази</a>
		</div>
		<div class="button-section4">
			<img class="img-users" src="assets/images/Icons/card icon.png" alt="card id icon">
			<br>
			<a class="a-users" href="">Користувачі</a>
		</div>
	</div>
</div>