/* .background {
  background-image: url("../../assets/images/Background/.png");
  width: 1440px;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
} */

.img img {
  width: 100%;
  height: 480px;
}

.wavepage p {
  padding-top: 20px;
  width: 283px;
  height: 19px;
  margin-left: 240px;
  color: gray;
}
.wavepage a {
  text-decoration: none;
  color: gray;
}

/* Селектори товару */

.sort {
  padding-right: 280px;
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
}

.filter {
  margin-left: 240px;
}

.input-price {
  width: 48px;
  height: 20px;
}

.filter {
  position: absolute;
  border: 1px solid black;
  max-width: 180px;
  padding: 10px;
}

/* --- */

.goods-catalog {
  display: flex;
  flex-wrap: wrap;
  padding-left: 490px;
  padding-top: 60px;
  gap: 30px;
  max-width: 1280px;
}

.button-page ::ng-deep .ngx-pagination .current {
  background-color: black;
  color: white;
  /* margin-top: 40px; */
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 12px;
  /* margin-left: 64px; */
}
.button-page ::ng-deep .ngx-pagination {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 12px;
  margin-left: 64px;
}
