.page {
  display: grid;
  grid-template-columns: 340px auto;
}

.main {
  padding: 16px;
  min-height: 519px;
}

.home-icon {
  width: 35px;
  height: 35px;
  margin-left: 540px;
}

.title-main {
  font-size: 32px;
  font-weight: bold;
}

.counters {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.latest {
  height: 400px;
  /* width: 1540px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

table {
  width: 100%;
  height: 400px;
}

.position-order {
  margin-top: 20px;
  margin-left: 20px;
}

/* Початок селекторів кількість заказів */

.orders-sum {
  background-color: #cac9c9;
  width: 300px;
  height: fit-content;
}

.background-orders {
  width: 300px;
  height: 140px;
  background-color: #d9d9d9;
}

.count-orders {
  margin-left: 160px;
  font-size: 64px;
}

/* Кінець селекторів кількість заказів */

/* Початок селекторів кількість продаж */

.sells-sum {
  background-color: #cac9c9;
  width: 300px;
  height: fit-content;
}

.background-sells {
  width: 300px;
  height: 140px;
  background-color: #d9d9d9;
}

.count-sells {
  margin-left: 160px;
  font-size: 64px;
}

/* Кінець селекторів кількість продаж */

/* Початок селекторів зареєстрованих користувачів */

.users-sum {
  background-color: #cac9c9;
  width: 300px;
  height: fit-content;
}

.background-users {
  width: 300px;
  height: 140px;
  background-color: #d9d9d9;
}

.count-users {
  margin-left: 160px;
  font-size: 64px;
}

/* Кінець селекторів зареєстрованих користувачів */

/* Початок селекторів користувачів онлайн */

.online-sum {
  background-color: #cac9c9;
  width: 300px;
  height: 80px;
  height: fit-content;
}

.background-online {
  width: 300px;
  height: 140px;
  background-color: #d9d9d9;
}

.count-online {
  margin-left: 160px;
  font-size: 64px;
}

/* Кінець селекторів користувачів онлайн */

/* Початок селекторів Популярні товари */

.popular-goods {
  background-color: #ebeaea;
  border-radius: 16px;
  padding: 8px;
}

/* Кінець селекторів Популярні товари */

/* Початок селекторів Нещодавно додані товари */

.latest-add-goods {
  background-color: #ebeaea;
  border-radius: 16px;
  padding: 8px;
}

/* Кінець селекторів Нещодавно додані товари */

/* Кінець селекторів main */
